@page "/shared_tooltip"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager

<style>
    #tooltip_svg {
        position: absolute;
        left: 50%;
        top: 50%;
    }
</style>

<div class="control-section" align='center'>
    <SfChart Title="Average Sales per Person" Width="@Width" Theme="@Theme">
        @* <ChartEvents ChartMouseClick="OnMouseEvent" SharedTooltipRender="SharedTooltipEvent"></ChartEvents> *@
        @* <ChartAnnotations>
            <ChartAnnotation X="@XValue" Y="@YValue" CoordinateUnits="Units.Pixel">
                <ContentTemplate>
                    @if (isClicked) {
                        <svg id="tooltip_svg" width="113" height="108" opacity="1">
                            <g id="tooltip_group" transform="translate(0,0)" opacity="1">
                                <path id="tooltip_path" stroke-width="0" fill="#000816" opacity="0.75" stroke="null" d="M 0 4 Q 0 0 4 0  L 104 0 Q 108 0 108 4 L 108 99 Q 108 103 104 103 L 4 103 Q 0 103 0 99 z" stroke-dasharray=""></path>
                                <text id="tooltip_text" x="10" y="20" fill="rgba(249, 250, 251, 1)" font-size="12px" font-style="Normal" font-family="Roboto" font-weight="400" text-anchor="start" transform="" opacity="1" dominant-baseline="undefined">
                                    <tspan x="42" fill="rgba(249, 250, 251, 1)" style="font-weight: bold; color: rgb(249, 250, 251); font-family: inherit; font-style: inherit; font-size: 12px;">@Text</tspan>
                                    <tspan x="25" dy="27" fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;">@Data[0].SeriesName</tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;">‎:</tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;"> </tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-weight: bold; color: rgb(249, 250, 251); font-family: inherit; font-style: inherit; font-size: 12px;">@Data[0].PointY M</tspan>
                                    <tspan x="25" dy="22" fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;">@Data[1].SeriesName </tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;">‎:</tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;"> </tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-weight: bold; color: rgb(249, 250, 251); font-family: inherit; font-style: inherit; font-size: 12px;">@Data[1].PointY M</tspan>
                                    <tspan x="25" dy="22" fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;">@Data[2].SeriesName </tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;">‎:</tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-family: inherit; font-style: inherit; font-size: 12px; font-weight: 400;"> </tspan>
                                    <tspan fill="rgba(249, 250, 251, 1)" style="font-weight: bold; color: rgb(249, 250, 251); font-family: inherit; font-style: inherit; font-size: 12px;">@Data[2].PointY M</tspan>
                                </text><path id="tooltip_header_path" stroke-width="1" fill="null" opacity="0.8" stroke="#ffffff" d="M 15 24L 98 24"></path>
                                <g id="tooltip_trackball_group">
                                    <ellipse id="tooltip_Trackball_0" opacity="1" fill="#00bdae" stroke="#cccccc" stroke-width="1" stroke-dasharray="null" d="undefined" rx="5" ry="5" cx="15" cy="42" aria-label="null"></ellipse>
                                    <path id="Trackball_1" opacity="1" fill="#404041" stroke="#cccccc" stroke-width="1" stroke-dasharray="null" d="M 10 69 L 15 59 L 20 69 L 10 69 z" aria-label="null"></path>
                                    <path id="Trackball_2" opacity="1" fill="#357cd2" stroke="#cccccc" stroke-width="1" stroke-dasharray="null" d="M 10 86 L 15 81 L 20 86 L 15 91 L 10 86 z" aria-label="null"></path>
                                </g></g>
                        </svg>
                    }
                </ContentTemplate>
            </ChartAnnotation>
        </ChartAnnotations *@>
        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="yyyy" IntervalType="IntervalType.Years" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}M" Title="Revenue (in Million)" Minimum="10" Maximum="80" RangePadding="ChartRangePadding.None" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>


        <ChartTooltipSettings FadeOutDuration="100000" Enable="true" Shared="true">
        </ChartTooltipSettings>
        <ChartCrosshairSettings Enable="true" LineType="LineType.Vertical"></ChartCrosshairSettings>


        <ChartSeriesCollection>
            <ChartSeries DataSource="@ChartPoints" Name="John" XName="Period" Width="2" Opacity="1" YName="JohnRevenue" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true"></ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@ChartPoints" Name="Andrew" XName="Period" Width="2" Opacity="1" YName="AndrewRevenue" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true"></ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@ChartPoints" Name="Thomas" XName="Period" Width="2" Opacity="1" YName="ThamosRevenue" Type="ChartSeriesType.Line">
                <ChartMarker Visible="true" Width="7" Height="7" IsFilled="true"></ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings EnableHighlight="true"></ChartLegendSettings>
    </SfChart>
</div>
@code {
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";

    public double XValue { get; set; }
    public string YValue { get; set; }

    public bool isClicked { get; set; } = false;

    public string Text { get; set; }

    public void OnMouseEvent(ChartMouseEventArgs args)
    {
        isClicked = true;
        XValue = args.MouseX;
        YValue = args.MouseY.ToString();
        StateHasChanged();
    }

    public List<PointInfo> Data { get; private set; }

    public void SharedTooltipEvent(SharedTooltipRenderEventArgs args)
    {
        Data = args.Data;
        Text = args.HeaderText.Replace("<b>", "").Replace("</b>", "");
    }

    public List<TrackballChartData> ChartPoints { get; set; } = new List<TrackballChartData>
    {
        new TrackballChartData { Period = new DateTime(2000, 2, 11), JohnRevenue = 14, AndrewRevenue = 39, ThamosRevenue = 60 },
        new TrackballChartData { Period = new DateTime(2000, 9, 4), JohnRevenue = 20, AndrewRevenue = 30, ThamosRevenue = 55 },
        new TrackballChartData { Period = new DateTime(2001, 2, 11), JohnRevenue = 25, AndrewRevenue = 28, ThamosRevenue = 48 },
        new TrackballChartData { Period = new DateTime(2001, 9, 16), JohnRevenue = 21, AndrewRevenue = 35, ThamosRevenue = 57 },
        new TrackballChartData { Period = new DateTime(2002, 2, 7), JohnRevenue = 13, AndrewRevenue = 39, ThamosRevenue = 62 },
        new TrackballChartData { Period = new DateTime(2002, 9, 7), JohnRevenue = 18, AndrewRevenue = 41, ThamosRevenue = 64 },
        new TrackballChartData { Period = new DateTime(2003, 2, 11), JohnRevenue = 24, AndrewRevenue = 45, ThamosRevenue = 57 },
        new TrackballChartData { Period = new DateTime(2003, 9, 14), JohnRevenue = 23, AndrewRevenue = 48, ThamosRevenue = 53 },
        new TrackballChartData { Period = new DateTime(2004, 2, 6), JohnRevenue = 19, AndrewRevenue = 54, ThamosRevenue = 63 },
        new TrackballChartData { Period = new DateTime(2004, 9, 6), JohnRevenue = 31, AndrewRevenue = 55, ThamosRevenue = 50 },
        new TrackballChartData { Period = new DateTime(2005, 2, 11), JohnRevenue = 39, AndrewRevenue = 57, ThamosRevenue = 66 },
        new TrackballChartData { Period = new DateTime(2005, 9, 11), JohnRevenue = 50, AndrewRevenue = 60, ThamosRevenue = 65 },
        new TrackballChartData { Period = new DateTime(2006, 2, 11), JohnRevenue = 24, AndrewRevenue = 60, ThamosRevenue = 79 },
    };
    public class TrackballChartData
    {
        public DateTime Period { get; set; }
        public double JohnRevenue { get; set; }
        public double AndrewRevenue { get; set; }
        public double ThamosRevenue { get; set; }
    }

}
